<nav class="navbar navbar-dark">

    <a href="https://www.linkedin.com/in/andrealdana/" class="navbar-brand ">
    <img class="w-50" src="https://cdn3.iconfinder.com/data/icons/unigrid-phantom-nature-vol-1/60/009_013_nature_ecology_water_drop_humidity_moisture_marine_nautical-128.png">
    </a>

    <h3 class="text-center m-lg-2">Bienvenido a mi aplicación del clima</h3>
    <a href="https://www.linkedin.com/in/andrealdana/" class="navbar-brand ">
        <img class="w-50 float-right" src="https://cdn3.iconfinder.com/data/icons/unigrid-phantom-nature-vol-1/60/009_016_nature_ecology_sun_light_shine_sunset-128.png">
        </a>
</nav>
